* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fdca01;
    color: #076acd;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1;
    padding: 4.8rem;
}

p {
    color: #fdca01;
    line-height: 1.4;
}

h1 {
    font-size: 4.4rem;
    font-weight: 700;
    text-align: center;
}

.heading-secondary {
    text-align: center;
    font-size: 3.6rem;
    margin-bottom: 3.2em;
}

/*************************/
/* SEARCH SECTION */
/*************************/
.section-search {
    padding: 6.4rem 0;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}

.search-form input,
.search-form button {
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
}

.search-form input {
    color: #076acd;
    width: 50%;
}

.search-form input::placeholder {
    color: #9cc3eb;
    font-weight: 400;
}

.search-form input:focus {
    outline: none;
}

.search-form button {
    background-color: #fff;
    color: #076acd;
    cursor: pointer;
    transition: all 0.3s;
}

.search-form button:hover {
    background-color: #076acd;
    color: #fff;
}

/*************************/
/* SHOWS SECTION */
/*************************/
.section-shows {
    padding: 6.4rem 0;
}

.shows {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 4.8rem;
}

.show {
    width: min-content;
    background-color: #076acd;
    padding: 2.4rem;
    border-radius: 10px;
    transition: all 0.4s;

    display: flex;
    flex-direction: column;
}

.show:hover {
    transform: scale(1.02);
}

.show img {
    border-radius: 10px;
    margin-bottom: 2.4rem;
}

.show h3 {
    color: #fdca01;
    font-size: 2.4rem;
    line-height: 1.4;
    margin-bottom: 1.6rem;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1.2rem;
    margin-bottom: 2.4rem;
}

.genre {
    background-color: #fdca01;
    color: #076acd;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    border-radius: 100px;
}

.btn-watch-now:link,
.btn-watch-now:visited {
    display: inline-block;
    text-decoration: none;
    border: none;
    background-color: #fdca01;
    color: #076acd;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.2rem 2.4rem;
    border-radius: 10px;
    transition: all 0.4s;
    width: fit-content;
    margin-top: auto;
}

.btn-watch-now:hover,
.btn-watch-now:active {
    background-color: #caa201;
    color: #076acd;
}
